.how-it-works__title-wrapper
  background #323d4e
  text-align center
  padding-bottom remify(94)
  padding-top remify(81)

.how-it-works__title
  color white

  &::after
    background white

.how-it-works__content-wrapper
  display flex
  flex-wrap wrap
  align-items center

.how-it-works__content
  flex-basis 50%

.how-it-works__content-text
  color #262e3d
  center-block()
  font-size remify(16)
  line-height 1.38
  max-width 581px
  padding remify(24) remify(30)
  margin-bottom remify(40)
  margin-top remify(40)
  simple-border('all', 1px, #979797)
  position relative
  width 90%

  &::before
    content ' '
    position absolute
    right 5%
    background white
    height 4px
    width 9%
    min-width 30px
    top -2px

  p
    margin 0

    &:not(:first-child)
      margin-top 1.4em

.how-it-works__content-cover
  align-self stretch
  background-image url('../img/backgrounds/how-it-works.jpg')
  background-position center left
  flex-basis 50%
  min-height 28.75vw

.how-it-works__infograph
  display flex
  flex-wrap wrap
  center-block()
  padding remify(80) 0
  width 90%
  max-width 940px
  position relative

.how-it-works__infograph-item
  flex-basis 25%
  text-align center

  &:first-child .how-it-works__infograph-item-description
    max-width 149px

  &:nth-child(4)::after
    flex-basis 100%
    content ' '
    width 75%
    height remify(35)
    border-width 0 1px 1px 0
    border-style solid
    border-color #bdbdbd
    margin-top remify(28)
    position absolute
    transform translateX(-50%)
    left 50%
    display block

  &:nth-child(5)::before
    content ' '
    position absolute
    top 0
    right 50%
    height remify(37.5)
    width 1px
    background #bdbdbd
    transform translate(50%, -170%)

  &:nth-child(n + 5)
    margin-top remify(110)

  &:nth-child(n + 1):not(:nth-child(4)):not(:last-child)
    position relative

    &::after
      content ' '
      background #bdbdbd
      width remify(100)
      height 1px
      display block
      position absolute
      right 0
      top remify(49)
      transform translateX(50%)

.how-it-works__infograph-item-icon
  display inline-block
  width remify(100)

.how-it-works__infograph-item-description
  color #afafaf
  line-height 1.25
  font-size remify(14)
  display block
  center-block()
  max-width 170px
  margin-top remify(20)
  text-transform uppercase

  .green-text
    font-weight $bold

@media screen and (max-width: 767px)
  .how-it-works__content-wrapper
    margin-bottom 0

  .how-it-works__content,
  .how-it-works__content-cover
    flex-basis 100%

  .how-it-works__content-cover
    height 28.75vw
    min-height 160px
