.contact-section
  center-block()
  max-width 838px
  padding-bottom remify(220)
  padding-top remify(77)
  text-align center
  width 90%

.contact-section__title
  color #1e2c3e

  &::after
    background #1e2c3e

.contacto-section__form
  margin-top remify(17.5)
  text-align left