.contact-section
  center-block()
  max-width 838px
  padding-bottom remify(220)
  padding-top remify(77)
  text-align center
  width 90%

.contact-section__title
  color #1e2c3e

  &::after
    background #1e2c3e

.contacto-section__form
  margin-top remify(17.5)
  text-align left

  .site-input
    font-size remify(16)

  .button-wrapper
    margin-top remify(29)
    text-align right

  .site-button
    padding 1.25em 1.82em
    font-size remify(15)

  textarea
    height remify(144)

@media screen and (max-width: 767px)
  .contact-section
    padding-bottom remify(130)

@media screen and (max-width: 450px)
  .contacto-section__form .button-wrapper
    text-align center