.about-us
  background white
  text-align center

.about-us__title
  display inline-block
  font-size remify(40)
  font-weight normal
  letter-spacing remify(0.2)
  color #1e2b3e
  text-transform uppercase
  margin remify(77) 0

  &::after
    content ' '
    display block
    width remify(66)
    height 1.5px
    background #9d9d9d
    margin-top remify(32)