{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Cómo funciona
{% endblock %}

{% block content %}
<div class="how-it-works__title-wrapper">
  <h1 class="how-it-works__title section-title">Cómo funciona</h1>
</div>
<div class="how-it-works__content-wrapper">
  <div class="how-it-works__content">
    <div class="how-it-works__content-text">
      <p>
        Finacero es una empresa mexicana que busca dar soluciones ágiles de financiamiento a sus clientes para la adquisición de materias primas e inventario, ya sea por necesidades de capital de trabajo, falta de tiempo o alguna compra de oportunidad que esté fuera del presupuesto.
      </p>
      <p>
        Otorgamos una línea de crédito a cada cliente en función de sus capacidades para que esta pueda ser utilizada inmediatamente y sin complicaciones.
      </p>
    </div>
  </div>
  <div class="how-it-works__content-cover cover simple-parallax"></div>
</div>
<section class="how-it-works__infograph">
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-1.png" alt="El cliente solicita un pedido al proveedor" />
    <span class="how-it-works__item-description"><span class="green-text">El cliente</span> solicita un pedido al proveedor</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-2.png" alt="El proveedor le cotiza al cliente" />
    <span class="how-it-works__item-description"><span class="green-text">El proveedor</span> le cotiza al cliente</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-3.png" alt="El cliente le envía la cotización a Finacero" />
    <span class="how-it-works__item-description"><span class="green-text">El cliente</span> le envía la cotización a Finacero</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-4.png" alt="El proveedor le factura a Finacero" />
    <span class="how-it-works__item-description"><span class="green-text">El proveedor</span> le factura a Finacero</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-5.png" alt="Finacero le factura al cliente" />
    <span class="how-it-works__item-description"><span class="green-text">Finacero</span> le factura al cliente</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-6.png" alt="El proveedor le entrega el material al cliente" />
    <span class="how-it-works__item-description"><span class="green-text">El proveedor</span> le entrega el material al cliente</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-7.png" alt="6. El cliente le paga a Finacero en la fecha acordada" />
    <span class="how-it-works__item-description"><span class="green-text">El cliente</span> le paga a Finacero en la fecha acordada</span>
  </article>
  <article class="how-it-works__infograph-item">
    <img class="how-it-works__item-icon" src="img/icons/infograph-8.png" alt="Finacero" />
  </article>
</section>
{% endblock %}