{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Cómo funciona
{% endblock %}

{% block content %}
<div class="how-it-works__title-wrapper">
  <h1 class="how-it-works__title section-title">Cómo funciona</h1>
</div>
<div class="how-it-works__content-wrapper">
  <div class="how-it-works__content">
    <div class="how-it-works__content-text">
      <p>
        Finacero es una empresa mexicana que busca dar soluciones ágiles de financiamiento a sus clientes para la adquisición de materias primas e inventario, ya sea por necesidades de capital de trabajo, falta de tiempo o alguna compra de oportunidad que esté fuera del presupuesto.
      </p>
      <p>
        Otorgamos una línea de crédito a cada cliente en función de sus capacidades para que esta pueda ser utilizada inmediatamente y sin complicaciones.
      </p>
    </div>
  </div>
  <div class="how-it-works__content-cover cover"></div>
</div>
{% endblock %}