{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contacto
{% endblock %}

{% block content %}
<div class="contact-section">
  <h1 class="contact-section__title section-title">Contacto</h1>
  <form id="contact-form" class="contact-section__form" action="." method="post">
    <p class="contact-section__top-text">
      Para mayor información, escribir a info@finacero.mx, llamar los teléfonos: CDMX: (55) 4000-1336 / MTY: (81) 3849-0510 o escribe aquí:
    </p>
    <div class="inputs-row">
      <div class="input-wrapper">
        <input id="contact-name" required class="site-input" type="text" name="name" placeholder="Nombre">
      </div>
      <div class="input-wrapper">
        <input id="contact-surname" required class="site-input" type="text" name="surname" placeholder="Apellido">
      </div>
    </div>
    <div class="input-wrapper">
      <input id="contact-email" required class="site-input" type="email" name="email" placeholder="Correo electrónico">
    </div>
    <div class="inputs-row">
      <div class="input-wrapper">
        <input id="contact-phone" required class="site-input" type="tel" name="phone" placeholder="Teléfono">
      </div>
      <div class="input-wrapper">
        <input id="contact-company" required class="site-input" type="text" name="company" placeholder="Compañía">
      </div>
    </div>
    <div class="input-wrapper">
      <textarea id="contact-message" required class="site-input" name="message" placeholder="Mensaje"></textarea>
    </div>
    <div class="form-message"></div>
    <div class="button-wrapper">
      <button class="site-button" type="submit">Enviar mensaje</button>
    </div>
    <div class="loader custom-loader">
      <div class="ball-pulse-sync">
        <div class="blue"></div>
        <div class="blue"></div>
        <div class="blue"></div>
      </div>
    </div>
  </form>
</div>
{% endblock %}