{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<div class="faq__title-wrapper">
  <h1 class="faq__title section-title">FAQ's</h1>
</div>
<div class="faq__content">
  <div class="faq__content-inner">
    <section class="faq__items">
      <article class="faq__item">
        <h2 class="faq__item-title">¿Qué necesito para que Finacero me otorgue una línea de crédito?</h2>
        <div class="faq__item-content">
          <p>
            Le haremos llegar una lista de información que necesitamos para analizar su capacidad crediticia. Una vez hecho el análisis, le diremos el monto de la línea autorizada para que esta pueda usar por usted de manera ágil y sencilla.
          </p>
        </div>
      </article>
      <article class="faq__item">
        <h2 class="faq__item-title">¿Qué necesito para que Finacero me otorgue una línea de crédito?</h2>
        <div class="faq__item-content">
          <p>
            Le haremos llegar una lista de información que necesitamos para analizar su capacidad crediticia. Una vez hecho el análisis, le diremos el monto de la línea autorizada para que esta pueda usar por usted de manera ágil y sencilla.
          </p>
        </div>
      </article>
      <article class="faq__item">
        <h2 class="faq__item-title">¿Qué puedo financiar a través de Finacero?</h2>
        <div class="faq__item-content">
          <p>
            Finacero da soluciones de financiamiento a sus clientes únicamente para la compra de materias primas e inventario para las empresas que están en el sector acerero en México.
          </p>
        </div>
      </article>
      <article class="faq__item">
        <h2 class="faq__item-title">¿Qué puedo financiar a través de Finacero?</h2>
        <div class="faq__item-content">
          <p>
            Finacero da soluciones de financiamiento a sus clientes únicamente para la compra de materias primas e inventario para las empresas que están en el sector acerero en México.
          </p>
        </div>
      </article>
    </section>
    <a href="contacto.html" class="site-button">Contacto</a>
  </div>
</div>
{% endblock %}