{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<section class="home-hero cover vertical-center">
  <div class="home-hero__inner">
    <h1 class="home-hero__title">Soluciones en<br><strong>financiamiento</strong><br>para capital de trabajo</h1>
    <span class="home-hero__subtitle">Adquisición de materia prima e inventario</span>
    <a href="contacto.html" class="site-button">Contacto</a>
  </div>
</section>
<section class="home-why-us">
  <div class="home-why-us__cover cover"></div>
  <div class="home-why-us__content">
    <div class="home-why-us__content-inner">
      <h2>¿Por qué nosotros?</h2>
      <p class="home-why-us__content-text">
        Satisfacemos sus necesidades financieras para la adquisición de materias primas e inventario. Con nuestra experiencia, compromiso e innovación, le ofrecemos la mejor y más rápida solución que se adapta a las necesidades de su negocio.
      </p>
    </div>
  </div>
</section>
<section class="home-how-it-works">
  <div class="home-how-it-works__content">
    <div class="home-how-it-works__items">
      <div class="home-how-it-works__item">
        <div class="home-how-it-works__item-square">
          <img class="home-how-it-works__item-icon" src="img/icons/hands.png" alt="Solicite a su proveedor" />
        </div>
        <span class="home-how-it-works__item-description">Solicite a su proveedor</span>
      </div>
      <div class="home-how-it-works__item">
        <div class="home-how-it-works__item-square">
          <img class="home-how-it-works__item-icon" src="img/icons/calculator.png" alt="Envíenos su cotización" />
        </div>
        <span class="home-how-it-works__item-description">Envíenos su cotización</span>
      </div>
      <div class="home-how-it-works__item">
        <div class="home-how-it-works__item-square">
          <img class="home-how-it-works__item-icon" src="img/icons/shipping.png" alt="Reciba su pedido" />
        </div>
        <span class="home-how-it-works__item-description">Reciba su pedido</span>
      </div>
      <div class="home-how-it-works__item">
        <div class="home-how-it-works__item-square">
          <img class="home-how-it-works__item-icon" src="img/icons/card.png" alt="Pague después" />
        </div>
        <span class="home-how-it-works__item-description">Pague después</span>
      </div>
    </div>
    <a href="como_funciona.html" class="site-button">Cómo funciona</a>
  </div>
</section>
<section class="home-benefits">
  <h2 class="home-benefits__title">Beneficios</h2>
  <div class="home-benefits__items">
    <div class="home-benefits__item">
      <h3 class="home-benefits__item-title">Transparencia</h3>
      <div class="home-benefits__item-content">
        <p class="home-benefits__item-text">
          Sin costos escondidos, usted sabe en todo momento cuando y cuánto pagar.
        </p>
        <img class="home-benefits__item-icon" src="img/icons/transparency.png" alt="Transparencia" />
      </div>
    </div>
    <div class="home-benefits__item">
      <h3 class="home-benefits__item-title">Flexibilidad</h3>
      <div class="home-benefits__item-content">
        <p class="home-benefits__item-text">
          El proveedor cobra de contado, usted paga después.
        </p>
        <img class="home-benefits__item-icon" src="img/icons/flexibility.png" alt="Flexibilidad" />
      </div>
    </div>
    <div class="home-benefits__item">
      <h3 class="home-benefits__item-title">Rapidex</h3>
      <div class="home-benefits__item-content">
        <p class="home-benefits__item-text">
          Nuestros procesos son ágiles para que usted reciba su pedido lo antes posible.
        </p>
        <img class="home-benefits__item-icon" src="img/icons/clock.png" alt="Rapidex" />
      </div>
    </div>
    <div class="home-benefits__item">
      <h3 class="home-benefits__item-title">Servicio</h3>
      <div class="home-benefits__item-content">
        <p class="home-benefits__item-text">
          Lo asesoramos y le brindamos un servicio cercano, que le permita tomar mejores decisiones sobre los flujos de su compañía.
        </p>
        <img class="home-benefits__item-icon" src="img/icons/settings-2.png" alt="Servicio" />
      </div>
    </div>
    <div class="home-benefits__item">
      <h3 class="home-benefits__item-title">Solución a la medida</h3>
      <div class="home-benefits__item-content">
        <p class="home-benefits__item-text">
          Finacero diseña soluciones financieras con estructuras hechas a su medida.
        </p>
        <img class="home-benefits__item-icon" src="img/icons/home-solutions.png" alt="Solución a la medida" />
      </div>
    </div>
  </div>
</section>
<div class="home-bottom cover"></div>
{% endblock %}