{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Nosotros
{% endblock %}

{% block content %}
<section class="about-us">
  <h1 class="about-us__title">Quiénes somos</h1>

  <div class="about-us__content cover">
    <div class="about-us__text">
      <p>
        Finacero es una empresa mexicana fundada con el fin de apoyar a las empresas que desarrollan sus actividades alrededor del sector acerero en México.
      </p>
      <p>
        Buscamos contrarrestar la limitada disponibilidad de créditos bancarios y el reducido acceso a los mercados de capital y deuda en México ofreciendo a las empresas una alternativa real de financiamiento para la compra de sus materias primas e inventario.
      </p>
      <p>
        Finacero nace en respuesta a las cambiantes expectativas de los clientes y condiciones del mercado. Formamos un equipo de expertos para brindar servicios integrados que se suman a una percepción y previsión del mercado.
      </p>
    </div>
  </div>
</section>
{% endblock %}