<footer class="cover">
  <div class="footer-inner">
    <a class="footer-logo" href="/"><img src="img/logos/logo.png" alt="Logo" /></a>
    <div class="footer-links">
      <a href="#" target="_blank"><img src="img/icons/twitter-circle.png" alt="Twitter" /></a>
      <a href="#" target="_blank"><img src="img/icons/facebook-circle.png" alt="Facebook" /></a>
      <a href="contacto.html">Contacto</a>
      <a href="#">Ayuda</a>
    </div>
  </div>
</footer>
