<footer class="cover">
  <div class="footer-inner">
    <div class="footer-logo">
      <a class="footer-logo-link" href="/"><img src="img/logos/logo.png" alt="Logo" /></a>
      <span class="footer-address">Varsovia 36 Col. Juárez Mexico City DIF 06600.</span>
    </div>
    <div class="footer-links">
      <a href="#" target="_blank"><img src="img/icons/twitter-circle.png" alt="Twitter" /></a>
      <a href="#" target="_blank"><img src="img/icons/facebook-circle.png" alt="Facebook" /></a>
      <a href="contacto.html">Contacto</a>
      <a href="#">Ayuda</a>
    </div>
  </div>
</footer>
