<nav {% if section != 'index' %}class="sections-nav"{% endif %}>
  <div class="desktop-logo-container">
    <a href="index.html"><img src="img/logos/logo.png" alt="Logo"></a>
  </div>
  <div class="menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="menu-container">
    <div class="mobile-logo-container">
      <a href="index.html"><img src="img/logos/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="index.html" class="menu-link {% if section == 'index' %}active{% endif %}">Inicio</a>
      <a href="nosotros.html" class="menu-link {% if section == 'nosotros' %}active{% endif %}">Nosotros</a>
      <a href="como_funciona.html" class="menu-link {% if section == 'como_funciona' %}active{% endif %}">Cómo funciona</a>
      <a href="faq.html" class="menu-link {% if section == 'faq' %}active{% endif %}">FAQ</a>
      <a href="contacto.html" class="menu-link {% if section == 'contacto' %}active{% endif %}">Contacto</a>
    </div>
  </div>
</nav>