*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-family 'TomaSans'
  font-size inherit
  font-weight $regular

  .noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

.sections-nav + main
  padding-top 111px

  @media screen and (max-width: 920px)
    padding-top 65px

.section-title
  display inline-block
  font-size remify(35)
  font-weight normal
  letter-spacing remify(0.2)
  text-transform uppercase
  margin 0

  &::after
    content ' '
    display block
    width remify(66)
    height 1.5px
    margin-top remify(32)

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background $buttonBg

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.succes, &.error
    margin-top 1em

input, textarea, button, select
  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

.site-button
  color white
  text-transform uppercase
  letter-spacing 0.0666666em
  background $buttonBg
  display inline-block
  font-family 'TomaSans'
  transition background 0.2s
  outline none
  border none
  cursor pointer

  &:hover,
  &:active,
  &:focus
    background lightness($buttonBg, 32%)

.site-input
  simple-border('all', 1px, #e5e5e5)
  padding 1em 1.2em
  font-family inherit

  &, &::placeholder
    color #555


.inputs-row,
.input-wrapper
  width 100%

.inputs-row
  display flex
  justify-content space-between

  .input-wrapper
    width initial
    flex-basis 48.56%

.input-wrapper .site-input
  width 100%

.input-wrapper
  margin-top remify(23)

@media screen and (max-width: 450px)
  .inputs-row
    flex-wrap wrap

    .input-wrapper
      flex-basis 100%

@import 'partials/navbar'

@import 'partials/footer'